Repository jsk-ros-pkg/jsk_3rdparty, pull requests merged in 2023-04, with the labels that each got.

#450 google_chat_ros/README.md: add troubleshooting
  google_chat_ros/README.md
Labels: google_chat_ros

#453 [ros_speech_recognition] add ubuntu-sounds dependency
  ros_speech_recognition/package.xml
Labels: ros_speech_recognition

#457 add self.conf_thresh in __init__ function
  ros_speech_recognition/scripts/parrot_node.py
Labels: bug, ros_speech_recognition
