Repository jsk-ros-pkg/jsk_3rdparty, pull requests merged in 2023-11, with the labels that each got.

#497 GA: relax failed test dialogflow_task_executive, julius_ros
  .github/workflows/config.yml
  dialogflow_task_executive/requirements.in.noetic
  dialogflow_task_executive/test/test_rospy_node.py
  dialogflow_task_executive/test/test_rospy_node.test
  julius_ros/test/julius.test
Labels: dialogflow_task_executive, github-action, julius_ros

#380 Adding CMAKE_EXE_LINKER_FLAGS in CMakeLists.txt
  rosping/CMakeLists.txt
Labels: rosping

#495 [switchbot_ros]force to use python3 for lambda string sort
  switchbot_ros/CMakeLists.txt
  switchbot_ros/package.xml
  switchbot_ros/scripts/switchbot_ros_server.py
Labels: MergeOK, hacktoberfest-accepted, switchbot_ros

#499 [Typo]fix typo in jsk_3rdparty/ros_speech_recognition/README.md
  ros_speech_recognition/README.md
Labels: ros_speech_recognition

#491 Mod for switchbot api 1.1
  switchbot_ros/launch/switchbot.launch
  switchbot_ros/scripts/control_switchbot.py
  switchbot_ros/scripts/switchbot_ros_server.py
  switchbot_ros/src/switchbot_ros/switchbot.py
Labels: MergeOK, switchbot_ros
