Repository jsk-ros-pkg/jsk_3rdparty, pull requests merged in 2023-06, with the labels that each got.

#472 Pr/use sound themes freedesktop
  julius_ros/package.xml
  julius_ros/scripts/julius_client.py
  ros_speech_recognition/README.md
  ros_speech_recognition/package.xml
  ros_speech_recognition/scripts/speech_recognition_node.py
Labels: WaitForCI, julius_ros, ros_speech_recognition

#460 [API Change] use project_id from json, instead of credentials
  dialogflow_task_executive/README.md
  dialogflow_task_executive/launch/dialogflow_ros.launch
  dialogflow_task_executive/launch/dialogflow_task_executive.launch
  dialogflow_task_executive/node_scripts/dialogflow_client.py
Labels: PleaseFixCI, dialogflow_task_executive

#474 [ros_speech_recognition] Add vosk engine
  ros_speech_recognition/CMakeLists.txt
  ros_speech_recognition/README.md
  ros_speech_recognition/cfg/SpeechRecognition.cfg
  ros_speech_recognition/package.xml
  ros_speech_recognition/requirements.txt
  ros_speech_recognition/requirements.txt.indigo
  ros_speech_recognition/scripts/install_trained_data.py
  ros_speech_recognition/scripts/speech_recognition_node.py
  ros_speech_recognition/src/ros_speech_recognition/recognize_vosk.py
  ros_speech_recognition/trained_data/.gitignore
Labels: ros_speech_recognition

#459 google_chat_ros_node.py: display project_id, subscription_id
  google_chat_ros/scripts/google_chat_ros_node.py
Labels: google_chat_ros

#458 gdrive_ros: use virtualenv
  gdrive_ros/CMakeLists.txt
  gdrive_ros/node_scripts/gdrive_server_node.py
  gdrive_ros/node_scripts/sample_gdrive_rospy_client.py
  gdrive_ros/package.xml
  gdrive_ros/requirements.txt
Labels: gdrive_ros

#478 [respeaker_ros] importing does not succeed
  respeaker_ros/scripts/respeaker_node.py
  respeaker_ros/src/respeaker_ros/__init__.py
  respeaker_ros/test/test_rospy_node.py
Labels: respeaker_ros

#477 [respeaker_ros] importing does not succeed
  respeaker_ros/scripts/respeaker_node.py
  respeaker_ros/src/respeaker_ros/__init__.py
Labels: bug, PleaseFixCI, respeaker_ros

#476 add LICENSE files
  3rdparty/aques_talk/LICENSE
  3rdparty/assimp_devel/LICENSE
  3rdparty/assimp_devel/package.xml
  3rdparty/downward/LICENSE
  3rdparty/ff/LICENSE
  3rdparty/ffha/LICENSE
  3rdparty/google_cloud_texttospeech/LICENSE
  3rdparty/julius/LICENSE
  3rdparty/libsiftfast/LICENSE
  3rdparty/lpg_planner/LICENSE
  3rdparty/mini_maxwell/LICENSE
  3rdparty/nlopt/LICENSE
  3rdparty/nlopt/package.xml
  3rdparty/osqp/LICENSE
  3rdparty/osqp/package.xml
  3rdparty/slic/LICENSE
  3rdparty/zdepth/LICENSE
  bayesian_belief_networks/LICENSE
  chaplus_ros/LICENSE
  dialogflow_task_executive/LICENSE
  gdrive_ros/LICENSE
  google_chat_ros/LICENSE
  influxdb_store/LICENSE
  jsk_3rdparty/LICENSE
  jsk_ros_patch/collada_urdf_jsk_patch/LICENSE
  jsk_ros_patch/depth_image_proc_jsk_patch/LICENSE
  jsk_ros_patch/laser_filters_jsk_patch/LICENSE
  jsk_ros_patch/openni_tracker_jsk_patch/LICENSE
  julius_ros/LICENSE
  nfc_ros/LICENSE
  opt_camera/LICENSE
  pgm_learner/LICENSE
  ros_google_cloud_language/LICENSE
  ros_speech_recognition/LICENSE
  rosping/LICENSE
  rostwitter/LICENSE
  sesame_ros/LICENSE
  switchbot_ros/LICENSE
  webrtcvad_ros/LICENSE
  zdepth_image_transport/LICENSE
Labels: rostwitter, collada_urdf_jsk_patch, nfc_ros, ros_google_cloud_language, webrtcvad_ros, zdepth_image_transport, julius, jsk_3rdparty, aques_talk, mini_maxwell, lpg_planner, dialogflow_task_executive, nlopt, assimp_devel, downward, openni_tracker_jsk_patch, laser_filters_jsk_patch, julius_ros, pgm_learner, libsiftfast, gdrive_ros, chaplus_ros, influxdb_store, ros_speech_recognition, rosping, slic, google_chat_ros, opt_camera, switchbot_ros, ff, bayesian_belief_networks, sesame_ros, ffha, depth_image_proc_jsk_patch, zdepth, google_cloud_texttospeech

#475 remove rosbuild packages from jsk_3rdparty/package.xml
  jsk_3rdparty/package.xml
Labels: jsk_3rdparty

#479 add test to check buildfirm errors
  .github/workflows/catkin_lint.yml
  3rdparty/aques_talk/package.xml
  3rdparty/assimp_devel/CMakeLists.txt
  3rdparty/libsiftfast/CMakeLists.txt
  bayesian_belief_networks/CMakeLists.txt
  dialogflow_task_executive/CMakeLists.txt
  dialogflow_task_executive/package.xml
  gdrive_ros/CMakeLists.txt
  gdrive_ros/package.xml
  google_chat_ros/CMakeLists.txt
  google_chat_ros/package.xml
  google_chat_ros/test/test_import.py
  jsk_ros_patch/collada_urdf_jsk_patch/CMakeLists.txt
  jsk_ros_patch/collada_urdf_jsk_patch/package.xml
  julius_ros/test/julius.test
  julius_ros/test/test_julius.py
  nfc_ros/package.xml
  pgm_learner/CMakeLists.txt
  respeaker_ros/package.xml
  ros_google_cloud_language/CMakeLists.txt
  ros_google_cloud_language/package.xml
  ros_speech_recognition/CMakeLists.txt
  rosping/CMakeLists.txt
  rostwitter/CMakeLists.txt
  rostwitter/package.xml
  sesame_ros/package.xml
  switchbot_ros/CMakeLists.txt
  switchbot_ros/package.xml
  zdepth_image_transport/CMakeLists.txt
  zdepth_image_transport/package.xml
Labels: rostwitter, collada_urdf_jsk_patch, nfc_ros, ros_google_cloud_language, zdepth_image_transport, aques_talk, dialogflow_task_executive, github-action, assimp_devel, julius_ros, pgm_learner, libsiftfast, gdrive_ros, ros_speech_recognition, rosping, google_chat_ros, respeaker_ros, switchbot_ros, bayesian_belief_networks, sesame_ros
