Repository jsk-ros-pkg/jsk_3rdparty, pull requests merged in 2023-07, with the labels that each got.

#487 fix build farm
  3rdparty/julius/Makefile.dictation-kit
  3rdparty/julius/Makefile.grammar-kit
  3rdparty/julius/Makefile.julius
  3rdparty/zdepth/package.xml
Labels: julius, zdepth

#481 use query to find folder + title, instead of list all files and apply fileters
  gdrive_ros/node_scripts/gdrive_server_node.py
Labels: gdrive_ros

#488 [ros_google_cloud_language] Fix for python3; Avoid attribute error
  ros_google_cloud_language/node_scripts/analyze_text.py
  ros_google_cloud_language/package.xml
  ros_google_cloud_language/test/test_rospy_node.py
Labels: ros_google_cloud_language
