Repository jsk-ros-pkg/jsk_3rdparty, pull requests merged in 2023-03, with the labels that each got.

#302 [dialogflow_task_executive] add speech_to_text_other topic name in speech_to_text_mux
  dialogflow_task_executive/launch/dialogflow_task_executive.launch
Labels: enhancement, dialogflow_task_executive

#437 [rostwitter] Support extracting base64 images and tweet them from text. with jpeg suffix suppor
  rostwitter/CMakeLists.txt
  rostwitter/README.md
  rostwitter/doc/tweet-image-path.jpg
  rostwitter/doc/tweet-string-thread.jpg
  rostwitter/doc/tweet-string.jpg
  rostwitter/launch/tweet.launch
  rostwitter/python/rostwitter/cv_util.py
  rostwitter/python/rostwitter/twitter.py
  rostwitter/python/rostwitter/util.py
  rostwitter/scripts/tweet.py
Labels: rostwitter

#443 [ros_speech_recognition] Return if result is empty
  ros_speech_recognition/scripts/speech_recognition_node.py
Labels: ros_speech_recognition

#442 [OSQP] add a wrapper package for OSQP, which is a library to solve QP
  3rdparty/osqp/CMakeLists.txt
  3rdparty/osqp/package.xml
  jsk_3rdparty/package.xml
Labels: jsk_3rdparty

#441 [rostwitter] reduce save file io
  rostwitter/scripts/tweet_image_server.py
Labels: bug, rostwitter

#293 [dialogflow_task_executive] add sample apps
  dialogflow_task_executive/apps/app.installed
  dialogflow_task_executive/apps/sample_app/sample_app.app
  dialogflow_task_executive/apps/sample_app/sample_app.interface
  dialogflow_task_executive/apps/sample_app/sample_app.xml
  dialogflow_task_executive/launch/dialogflow_task_executive.launch
  dialogflow_task_executive/node_scripts/sample_app_print.py
  dialogflow_task_executive/package.xml
Labels: hacktoberfest-accepted, dialogflow_task_executive

#446 [rostwitter] use sub and not delete
  rostwitter/scripts/tweet_image_server.py
Labels: bug, rostwitter

#445 [dialogflow_task_executive] fix typo in dialogflow_client.py
  dialogflow_task_executive/node_scripts/dialogflow_client.py
Labels: bug, dialogflow_task_executive

#447 [dialogflow_task_executive] not use map for python3 in task_executive
  dialogflow_task_executive/node_scripts/task_executive.py
Labels: bug, dialogflow_task_executive
