Repository jsk-ros-pkg/jsk_3rdparty, pull requests merged in 2024-12, with the labels that each got.

#514 fix CI, override node20 https://github.com/actions/upload-artifact/issues/616#issuecomment-2350667347
  .github/workflows/config.yml
  3rdparty/nlopt/CMakeLists.txt
Labels: github-action, nlopt

#512 Support ros-o / Ubuntu 22.04
  .github/workflows/config.yml
  3rdparty/downward/CMakeLists.txt
  3rdparty/downward/fix_std_vector_namespace.patch
  3rdparty/ff/Makefile
  3rdparty/ffha/Makefile
  3rdparty/libsiftfast/Makefile
  3rdparty/libsiftfast/patches/10.boost_python38.patch
  3rdparty/zdepth/CMakeLists.txt
  dialogflow_task_executive/CMakeLists.txt
  jsk_3rdparty/package.xml
  jsk_ros_patch/collada_urdf_jsk_patch/CMakeLists.txt
  respeaker_ros/CMakeLists.txt
  sesame_ros/CMakeLists.txt
  sesame_ros/requirements.txt
Labels: collada_urdf_jsk_patch, jsk_3rdparty, dialogflow_task_executive, github-action, downward, libsiftfast, respeaker_ros, ff, sesame_ros, ffha, zdepth

#515 [.github/workflows/config.yml: disable installing recommends in apt-get install
  .github/workflows/config.yml
  3rdparty/downward/package.xml
  nfc_ros/CMakeLists.txt
Labels: nfc_ros, github-action, downward
