Repository jsk-ros-pkg/jsk_3rdparty, pull requests merged in 2025-01, with the labels that each got.

#513 add codes for publishing switchbot CO2 meter status.
  switchbot_ros/CMakeLists.txt
  switchbot_ros/msg/MeterProCO2.msg
  switchbot_ros/scripts/switchbot_status_publisher.py
Labels: switchbot_ros

#501 [google_chat_ros] check whether google_chat_button's parameters inclu…
  google_chat_ros/scripts/google_chat_ros_node.py
  google_chat_ros/src/google_chat_ros/google_chat.py
Labels: google_chat_ros

#517 [ros-o] collada_urdf_jsk_patch: skip cmake/pkg config generation
  jsk_ros_patch/collada_urdf_jsk_patch/CMakeLists.txt
Labels: collada_urdf_jsk_patch

#518 [ros-o] julius: use system install julius
  3rdparty/julius/CMakeLists.txt
  3rdparty/julius/download_julius_data.sh
  julius_ros/scripts/run_julius.sh
Labels: julius, julius_ros
