Repository jsk-ros-pkg/jsk_3rdparty, pull requests merged in 2025-04, with the labels that each got.

#521 Add ROS-O 24.04 test
  .github/workflows/config.yml
  3rdparty/aques_talk/CMakeLists.txt
  bayesian_belief_networks/Makefile.bayesian
  bayesian_belief_networks/bayesian-belief-networks.2to3
  bayesian_belief_networks/package.xml
  bayesian_belief_networks/setup.py.in
  dialogflow_task_executive/CMakeLists.txt
  dialogflow_task_executive/requirements.in.python3.12
  google_chat_ros/CMakeLists.txt
  google_chat_ros/requirements.in.python3.12
  ros_google_cloud_language/CMakeLists.txt
  ros_google_cloud_language/requirements.in
  ros_google_cloud_language/requirements.in.python3.12
Labels: ros_google_cloud_language, aques_talk, dialogflow_task_executive, github-action, google_chat_ros, bayesian_belief_networks

#525 bayesian_belief_networks: fix deb build
  bayesian_belief_networks/Makefile.bayesian
Labels: bayesian_belief_networks

#528 CI: add ROS-O testing on arm
  .github/workflows/config.yml
  sesame_ros/CMakeLists.txt
  sesame_ros/requirements.in.python2
  sesame_ros/requirements.in.python3.12
Labels: github-action, sesame_ros

#531 [aques_talk] fix python shebang issue
  3rdparty/aques_talk/CMakeLists.txt
Labels: aques_talk

#533 aques_talk: continue when downloading aqtk2-lnx-eva_230.zip failed. T…
  3rdparty/aques_talk/CMakeLists.txt
Labels: aques_talk

#516 google_chat_ros: enable to get therad_name message result
  google_chat_ros/scripts/google-chat.l
Labels: google_chat_ros

#534 CI:aques_talk : run aques_talk only when download was succeeded
  3rdparty/aques_talk/CMakeLists.txt
Labels: aques_talk
